// $color-primary: rgb(255, 91, 96);
$color-primary: rgb(235 ,156 ,77);
$color-accent: rgb(162, 1, 125);
$color-vibrant:  rgb(240 ,112, 87);
$color-dark: rgb(60, 67, 70);
$color-success: rgb(191, 215, 36);

$font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-sans-serif_alt: 'Josefin Sans', sans-serif;
$font-family-monospace: 'Inconsolata', monospace;
$font-family-headings: 'Josefin Sans', sans-serif;

// $font-family-monospace: "Inconsolata", monospace;
// $font-family-headings: "Rammetto One", cursive;

$font-family-base: $font-family-sans-serif !default;
$headings-font-family: $font-family-headings !default;

$primary: $color-primary;
$nav-tabs-link-active-color: $color-primary !default;

$link-color: $color-primary;
$link-hover-decoration: none;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$theme-colors: (
  primary: $color-primary,
  secondary: $gray-600,
  success: $color-success,
  info: $color-accent,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800,
) !default;
